.widget.percent {
    table {
        margin: 5px 0;
        .legend {
            text-align: center;
        }
    }
    .metric {
        font-size: 36px;
        text-align: center;
    }
    .good,
    .bad {
        width: 50%;
        font-size: 12px;
        text-align: center;
    }
    .neutral {
        font-size: 10px;
        text-align: center;
    }
    .neutralPercent {
        font-size: 14px;
        text-align: center;
    }
    .good {
        color: green;
    }
    .bad {
        color: red;
    }
    .neutral {
        color: lightgray;
    }
}
