mixin licencias(id,title,data,regionId)
    div.widget.col-md-6
        div
            div.head
                .filters
                    h5 Licencias VPN
                    .sem.green
                    img.close(src="/images/icon-btn-close.svg")
                .filters
                    input.filterDay(type="button" value="Hoy" onclick="filterDay()" style="background-color: #4fc6eb; color: #272C31")
                    input.filterWeek(type="button" onclick="filterWeek()" value="Semana")
                    input.filterYear(type="button" onclick="filterYear()" value="Año")
            table(style="width:100%;")
                br
                tr
                    h4 Licencias totales: 138&nbsp
                    h5.green 2.5% &nearr;
                tr
                    td(rowspan=6)
                        .rainbow-S-6(style="height: 250px;")
                    td.text-center
                        canvas#chartlicencias(style="margin-top: 10px;width:300px;height:250px;")
                    td(style="text-align: initial;")#data
    block scripts
        script(src="/javascripts/demo/vpn.js")
        script licencias();
        script updatevpn2();
                