mixin cha(code, name, bits)
    .widget.col-3
        div
            .filters
                .head
                    .title
                        a(href="t/" + code)
                            H5=name
                .container
                    .row
                        canvas(id="chartTransTotal"+code, style="margin-top: 5%;height: 150px;display: inline-block;")
