extends ../layout
include demo/thousandEyes
include demo/ciscoprime
include demo/vmware
include demo/stealthwatch
include demo/appdynamics
include demo/vpn
include demo/dna
include demo/parts/_cha
include demo/google
include demo/teams
include demo/vpnline
include demo/webex
include demo/network
include demo/infra

include demo/alerts
include demo/webexGlobal
include demo/webexProductivity
include demo/webexMeeting
include demo/webexDns
block content
    .row#dash
        h2 Alertas
        +alerts()
    .row#dash
        h2 Webex Global Status
        +webexGlobal()
    .row#dash
        h2 Webex Productivity Tools
        +webexProductivity()
    .row#dash
        h2 Webex Meeting Session Initiation
        +webexMeeting()
    .row#dash
        h2 DNS
        +webexDns()
    br
block scripts
    //- libs 
    script(src="/javascripts/fmt.js")
    script(src="/javascripts/libs/ChartLib.js") 
