extends ../../layout
include res/service
include ../dna/health
include ../dna/servers
include ../dna/licenses
include ../dna/devices

block content
    h1 DNA Center
    nav.float-end.d-flex(style="--bs-breadcrumb-divider: \'>\';" aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page")
                a(href="/") Dashboard
            li.breadcrumb-item DNA Center
    .row#dash
        +service()
        +health()
        +servers()
        +licenses()
        +devices()
                
    br
block scripts
    //- libs 
    script(src="/javascripts/fmt.js")
    script(src="/javascripts/libs/ChartLib.js") 
    script(src="/javascripts/main.js")
