extends ../../layout
include res/service
include ../stealthwatch/alarmas
include ../stealthwatch/eventos

block content
    h1 Stealthwatch
    nav.float-end.d-flex(style="--bs-breadcrumb-divider: \'>\';" aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page")
                a(href="/") Dashboard
            li.breadcrumb-item Stealthwatch
    .row#dash
        +eventos()
        +service()
        +alarmas()
        
                
    br
block scripts
    //- libs 
    script(src="/javascripts/fmt.js")
    script(src="/javascripts/libs/ChartLib.js") 
    script(src="/javascripts/main.js")
    script loopDash();
