mixin webexMeeting(id,title,data,regionId)
    div.widget.col-md-6
        div
            div.head
                .filters
                    h5 Jitter
                    .sem.green
                    img.close(src="/images/icon-btn-close.svg")
            table(style="width:100%;")
                tr
                    td
                        canvas#chartLineJitterWebexM(style="margin-top: 20px" width="500" height="200")
            table(style="width:100%; font-size: 12px;text-align:center;")
                tr
                    td(style="vertical-align: middle")
                        .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                        h5(style="margin:0") Jitter&nbsp;
                        h3#jitter
                    td
                        h4.green 5% &nearr;
    div.widget.col-md-6
        div
            div.head
                .filters
                    h5 Latency
                    .sem.green
                    img.close(src="/images/icon-btn-close.svg")
            table(style="width:100%;")
                tr
                    td
                        canvas#chartLineLatencyWebexM(style="margin-top: 20px" width="500" height="200")
            table(style="width:100%; font-size: 12px;text-align:center;")
                tr
                    td(style="vertical-align: middle")
                        .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                        h5(style="margin:0") Latency&nbsp;
                        h3#jitter
                    td
                        h4.green 1% &nearr;
    div.widget.col-md-6
            div
                div.head
                    .filters
                        h5 Loss
                        .sem.green
                        img.close(src="/images/icon-btn-close.svg")
                table(style="width:100%;")
                    tr
                        td
                            canvas#chartLineLossWebexM(style="margin-top: 20px" width="500" height="200")
                table(style="width:100%; font-size: 12px;text-align:center;")
                    tr
                        td(style="vertical-align: middle")
                            .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                            h5(style="margin:0") Loss&nbsp;
                            
                        td
                            h4.green 6% &nearr;
    block scripts
        script(src="/javascripts/demo/webexMeeting.js")
        script chartAtnTimeTimeline();
        script updateChartAtnTimeTimeline();
        script chartErrorsWebex();