mixin webexGlobal(id,title,data,regionId)
    div.widget.col-md-6
        div
            div.head
                .filters
                    h5 Jitter
                    .sem.green
                    img.close(src="/images/icon-btn-close.svg")
            table(style="width:100%;")
                tr
                    td
                        canvas#chartLineJitterWebex(style="margin-top: 20px" width="500" height="200")
            table(style="width:100%; font-size: 12px;text-align:center;")
                tr
                    td(style="vertical-align: middle")
                        .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                        h5(style="margin:0") Jitter&nbsp;
                        h3#jitter
                    td
                        h4.green 5% &nearr;
    div.widget.col-md-6
        div
            div.head
                .filters
                    h5 Latency
                    .sem.green
                    img.close(src="/images/icon-btn-close.svg")
            table(style="width:100%;")
                tr
                    td
                        canvas#chartLineLatencyWebex(style="margin-top: 20px" width="500" height="200")
            table(style="width:100%; font-size: 12px;text-align:center;")
                tr
                    td(style="vertical-align: middle")
                        .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                        h5(style="margin:0") Latency&nbsp;
                        h3#jitter
                    td
                        h4.green 1% &nearr;
    div.widget.col-md-6
            div
                div.head
                    .filters
                        h5 Loss
                        .sem.green
                        img.close(src="/images/icon-btn-close.svg")
                table(style="width:100%;")
                    tr
                        td
                            canvas#chartLineLossWebex(style="margin-top: 20px" width="500" height="200")
                table(style="width:100%; font-size: 12px;text-align:center;")
                    tr
                        td(style="vertical-align: middle")
                            .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                            h5(style="margin:0") Loss&nbsp;
                            
                        td
                            h4.green 6% &nearr;
    div.widget.col-md-6
            div
                div.head
                    .filters
                        h5 Tiempo de transaccion
                        .sem.green
                        img.close(src="/images/icon-btn-close.svg")
                table(style="width:100%;")
                    tr
                        td
                            canvas#chartLineTansTimeWebex(style="margin-top: 20px" width="500" height="200")
                table(style="width:100%; font-size: 12px;text-align:center;")
                    tr
                        td(style="vertical-align: middle")
                            .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                            h5(style="margin:0") Tiempo de Transaccion&nbsp;
                            
                        td
                            h4.green 2% &nearr;
    div.widget.col-md-6
            div
                div.head
                    .filters
                        h5 Tasa de Transferencia Efectiva
                        .sem.green
                        img.close(src="/images/icon-btn-close.svg")
                table(style="width:100%;")
                    tr
                        td
                            canvas#chartLineTasaWebex(style="margin-top: 20px" width="500" height="200")
                table(style="width:100%; font-size: 12px;text-align:center;")
                    tr
                        td(style="vertical-align: middle")
                            .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                            h5(style="margin:0") Tasa de Transferencia Efectiva&nbsp;
                            
                        td
                            h4.green 6% &nearr;
    div.widget.col-md-6
            div
                div.head
                    .filters
                        h5 Tiempo de respuesta
                        .sem.green
                        img.close(src="/images/icon-btn-close.svg")
                table(style="width:100%;")
                    tr
                        td
                            canvas#chartLineResponseWebex(style="margin-top: 20px" width="500" height="200")
                table(style="width:100%; font-size: 12px;text-align:center;")
                    tr
                        td(style="vertical-align: middle")
                            .bullet.lightIn(style="margin: 0px 20px 0 10px;")
                            h5(style="margin:0") Tiempo de respuesta&nbsp;
                            
                        td
                            h4.green 6% &nearr;
    div.widget.col-md-6
        div
            div.head
                .filters
                    h4 Errores
                    .sem.green
                    img.close(src="/images/icon-btn-close.svg")
            table(style="width:100%;")

                tr
                    td(style="text-align: initial;")#datalicenses
                    td.text-center
                        canvas#chartCircleErrorsWebex(style="margin-top: 10px;width:300px;height:250px;")
    block scripts
        script(src="/javascripts/demo/webexGlobal.js")
        script chartAtnTimeTimeline();
        script updateChartAtnTimeTimeline();
        script chartErrorsWebex();