mixin apps(id,title)
    div.widget.col-md-6
        div
            div.head
                .filters
                    h4 Top Aplicaciones
                    .sem.green
                    img.close(src="/images/icon-btn-close.svg")
                .filters
                    input.filterDay(type="button" value="Hoy" onclick="filterDay()" style="background-color: #4fc6eb; color: #272C31")
                    input.filterWeek(type="button" onclick="filterWeek()" value="Semana")
                    input.filterYear(type="button" onclick="filterYear()" value="Año")
            table(style="width:100%;")
                br
                tr
                    h4 Aplicaciones: 1520
                tr
                    td.text-center
                        canvas#chartapps(style="margin-top: 10px;width:300px;height:250px;")
                    td(style="text-align: initial;")#data
    block scripts
        script(src="/javascripts/demo/appdynamics.js")
        script chartapps();
        script updatecharttopapps();