$BACK1: #323233;
$BACK2: #384145;
$WIDGET: #272c31;
$DBLUE: #08243c;
$YELLOW: #fbc726;
$LBLUE: #4fc6eb;
$LGRAY: #808080;
$MBLUE: #004d96;
$RED: #FF3333;
$GREEN: #008000;
$MAX: #272c4d;
$IN: #ffbb00;
$OUT: #05abe0;
