mixin topIncident(id,title,data)
    .widget(id=id).col-md-6
        div
            div.head
                .filters
                    h5 Origen de Incidentes
                    img.close(src="/images/icon-btn-close.svg")
                .filters
                    input.filterDay(type="button" value="Hoy" onclick="filterDay()" style="background-color: #4fc6eb; color: #272C31")
                    input.filterWeek(type="button" onclick="filterWeek()" value="Semana")
                    input.filterYear(type="button" onclick="filterYear()" value="Año")
            table(style="width:100%;")
                tr
                    td
                        canvas#chartTopIncident(width=450 height=255 style="margin-top: 10px")

    block scripts
        script(src="/javascripts/dash/top_incident.js")
        script chartTopIncident();
        script updateChartTopIncident();
    
